$o-grid-is-silent: false;
$o-typography-is-silent: false;

@import 'o-typography/main';
@import 'o-grid/main';
@import 'o-colors/main';
@import 'o-icons/main';
@import 'styles/_variables';

@import 'styles/article-list';
@import 'styles/timeline-container';
@import 'styles/heatmap';
@import 'styles/dots';

.n-storylines__container {
	margin-top: 25px;
	border-top: 8px solid oColorsGetPaletteColor('black');
	border-bottom: 1px solid $border;
}

.n-storylines__info {
	@include oTypographySans(m);
  margin: 8px 0;
}

.n-storylines__content-count {
	color: rgba(0, 0, 0, 0.6);
	float: left;
	@include oTypographySansData(m)
	@include oGridRespondTo($until: M){
		margin-bottom: 10px;
	}
}
