<!-- <div class="parent-level">Years</div> -->
<div class="n-storylines__scroll">
{{#each children}}
	<div class="n-storylines__heatmap-segment n-storylines__heatmap-segment--all-months ">
		<ul class="dot-container">
			{{#if dot}}
				{{#each dot}}
				<li class='dot' style="margin-left: {{position}}%">{{name}}</li>
				{{/each}}
			{{/if}}
		</ul>
		<div class="n-storylines__heatmap-segment-colour n-storylines__all-months" style="opacity: {{weight}};"></div>
		<p class="n-storylines__heatmap-segment-name">{{abbreviatedName}}</p>
	</div>
{{/each}}
</div>
