<div class="n-storylines">
	<div class="n-storylines__info o-typography-aside__body">
		Explore articles of<span>
		{{#if children.0.children}}
			{{ children.0.name  }}
    {{else}}
			{{name}}
		{{/if}}
		</span>
	</div>

	<div class="n-storylines__content-count o-typography-aside__body--small">
		{{total}} articles published
	</div>

	<div class="n-storylines__timeline-container">
		{{#if children.0.children}}
			{{> partials/years}}
		{{else if children}}
			{{> partials/months}}
		{{else}}
			{{> partials/single-month}}
		{{/if}}
		</div>

	<div class="n-storylines__article-header o-typography-aside__body--small">
		Key articles
	</div>

	<ul class="n-storylines__top-content">
		{{#each relevantArticles}}
		<li class="n-storylines__article o-typography-aside__headline--small">
      <a class="n-storylines__article-link" href="https://www.ft.com/content/{{id}}">{{title}}</a>
		  <p class="o-typography-timestamp">{{day}}</p>
    </li>
		{{/each}}
	</ul>
	
</div>
