<div class="n-storylines">
	<div class="n-storylines__info o-typography-aside__body">
		Explore articles of<span>
		{{#if children.0.children}}
			{{ children.0.name  }}
    {{else}}
			{{name}}
		{{/if}}
		</span>
	</div>

	<div class="n-storylines__content-count o-typography-aside__body--small">
		{{total}} articles published
	</div>

	<div class="n-storylines__timeline-container">
		<img class="n-storylines__back-btn" src="http://image.webservices.ft.com/v1/images/raw/fticon-v1:arrow-left?source=o-icons"/>
		{{#if children}}
		{{#each children}}
		<div class="n-storylines__heatmap-segment">
			<div class="n-storylines__heatmap-segment-colour" style="opacity: {{weight}};">
				{{#if ../this.relevantArticles}}
					ARTICLES!
					{{/if}}
			</div>
			<p class="n-storylines__heatmap-segment-name o-typography-aside__body--small">{{abbreviate name}}</p>
		</div>
		{{/each}}
		{{else}}
		<div class="n-storylines__heatmap-segment">
			<div class="n-storylines__heatmap-segment-colour" style="opacity: {{weight}};"></div>
			<p class="n-storylines__heatmap-segment-name o-typography-aside__body--small">{{name}}</p>
		</div>
		{{/if}}
	</div>
	<div class="n-storylines__article-header o-typography-aside__body--small">
		Most popular articles
	</div>
	<ul class="n-storylines__top-content">
		{{#each relevantArticles}}
		<li class="n-storylines__article o-typography-aside__headline--small">
      <a class="n-storylines__article-link" href="https://www.ft.com/content/{{id}}">{{title}}</a>
		  <p class="o-typography-timestamp">{{timestamp day month year}}</p>
    </li>
		{{/each}}
	</ul>
</div>
