<div class="zoom">
	Tap to zoom into years
</div>

<div class="totalz">
	{{total}} stories total
</div>


<div class="timeline">
  <div class="back" style="display:none;">◀◀</div>
	{{#if children}}
		{{#each children}}
		<div class="timeline-element">
			<div class="heatmap-segment" style="opacity: {{opacity total}};"></div>
				<p>{{abbreviate name}}</p>{{weird}} {{total}}
		</div>
		{{/each}}
	{{else}}
    <div class="timeline-element">
      <div class="heatmap-segment" style="opacity: {{opacity total}};"></div>
        <p> {{name}} </p>
    </div>
	{{/if}}
</div>

<div class="top-stories">
	<!-- Most popular stories in {{children.name}} -->
	<ul>
		{{#each relevantArticles}}
		<li class="article">{{title}}</li>
		{{month}}, {{year}}
		{{/each}}
	</ul>
</div>
