body {
  background: #fff1e0;
}

.n-storylines__timeline-container {
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.n-storylines__heatmap-segment {
  width: 100%;
}

.n-storylines__heatmap-segment-colour {
  background: #B11F42;
  width: 100%;
  height: 20px;
}
.n-storylines__heatmap-segment-name {
  text-align: center;
}

.n-storylines__top-content {
    counter-reset: list;
    list-style-type: none;
    width: 80%;
}

.n-storylines__article {
  position:relative;
  padding-left: 20px;;
}

.n-storylines__article:before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  font: 12px/13px MetricWeb, sans-serif;
  color: #fff;
  left: -13px;
  top: 10px;
  text-align: center;

  background-color: #000;
  border-radius: 13px;
  height: 13px;
  width: 13px;
  padding: 5px;
}

.n-storylines__article {
  margin-bottom: 25px;
}

.n-storylines__info {
  float: left;
}

li>.o-typography-timestamp {
  margin: 5px 0;
}
/*having doubts about how to approach the a tag*/

.n-storylines__article>a {
  text-decoration: none;
  color: #505050;
}

a:hover {
  cursor: pointer;
  color: #777;
}

.n-storylines__content-count {
  float: right;
}

.n-storylines__back-btn {
  width: 1.5em;
  height: 1.5em;
}
