body {
  font-family: monospace;
  background: #fff1e0;
}

.n-storylines__timeline-container {
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.n-storylines__heatmap-segment {
  width: 100%;
}

.n-storylines__heatmap-segment-colour {
  background: #B11F42;
  width: 100%;
  height: 20px;
}
.n-storylines__heatmap-segment-name {
  text-align: center;
}

.n-storylines__top-content {
  list-style-type: none;
}

.n-storylines__info {
  float: left;
}

.n-storylines__content-count {
  float: right;
}
