$opaque: rgba(0,0,0,0.6);
$background: oColorsGetPaletteColor('warm-1');
$filler: oColorsGetPaletteColor('warm-4');
$border: oColorsGetPaletteColor('pink-tint3');
$buttonColor: oColorsGetPaletteColor('teal-1');
