.n-storylines__article-header {
	color: $opaque;
	@include oTypographySansData(m);
	@include oGridRespondTo($until: M) {
		margin-bottom: 10px;
	}
}

.n-storylines__article {
	margin-bottom: 20px;
}

.n-storylines__article::before {
  counter-increment: list;
  content: counter(list);
  font: 14px/15px MetricWeb, sans-serif;
  color: $background;
	text-align: center;
  background-color: $filler;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  padding: 5px;

	@include oGridRespondTo($until: M) {
		position: absolute;
		left: -35px;
		top: 2px;
	};

	@include oGridRespondTo(M) {
		display: block;
		margin-bottom: 5px;
	}
}

.n-storylines__article:nth-of-type(3n+1):after {
	@include oGridRespondTo(M) {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		border-top: 1px solid $border;
		top: 13px;
		left: -50%;
		width: 500%;
	}
}

.n-storylines__top-content {
	counter-reset: list;
	position: relative;
	margin: 0 auto;

	@include oGridRespondTo(M) {
		margin: 10px 0 0 -13px;
		width: 100%;
		padding: 0;
	}
}

.n-storylines__top-content::before {
	@include oGridRespondTo($until: M) {
  	content: '';
  	position: absolute;
		border-left: 1px solid $border;
		top: 5px;
		bottom: 56px;
		left: 17px;
		margin: 0 auto;
	}
}

.n-storyline-timestamp {
	@include oTypographySansData(m);
	color: $opaque;
	margin: 0;
}

.n-storylines__article-link {
	@include oTypographySerifDisplay(m);
  color: $filler;
	text-decoration: none;
	border-bottom: none;
}

.n-storylines__article-link:focus {
  cursor: pointer;
  color: oColorsGetPaletteColor('grey-tint3');
}
