.dot-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  margin-right: 20px;
}

.dot {
	@include oTypographySansData(xs)
  position: absolute;
  background: oColorsGetPaletteColor('warm-4');
  top: -10px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: oColorsGetPaletteColor('warm-1');
  padding: 5px;
  z-index: 3;
  margin-right: -4%;
}
