.dot-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  margin-right: 20px;
}

.dot {
  position: absolute;
  background: $filler;
  top: -10px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  text-align: center;
	@include oTypographySansData(xs)
  font-size: 10px;
  line-height: 10px;
  color: $background;
  padding: 5px;
  z-index: 3;
  margin-right: -4%;
}
