.n-storylines__heatmap-segment {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.n-storylines__heatmap-segment-colour {
  background: oColorsGetPaletteColor('claret');
  width: 100%;
  height: 50px;
  display: flex;
}

.n-storylines__heatmap-segment-none {
	background: none;
	width: 100%;
	height: 50px;
	display: flex;
}

.n-storylines__heatmap-segment-colour--background {
 background: $background;
}

.n-storylines__heatmap-segment-name {
	@include oTypographySans(s);
	color: $opaque;
  position: relative;
  margin-top:10px;
}

.n-storylines__heatmap-segment-name::before {
  counter-increment: dot;
  content: '';
  position: absolute;
  top: -95%;
  left: 50%;
  background-color: $background;
  border: 1px solid $opaque;
  border-radius: 100%;
  height: 9px;
  width: 9px;
}

.no-articles {
  opacity: 0.6;
}

.n-storylines__all-months {
  min-width: 50px;
}
