.n-storylines__timeline-container {
  display: flex;
  position: relative;
  width: 100%;
  background: oColorsGetPaletteColor('warm-1');
}

.n-storylines__timeline-container:before {
  border-top: 1px solid oColorsGetPaletteColor('pink-tint3');
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 35px;
  left: -30%;
  width: 150%;
  z-index: -1;
}

.parent-level {
	padding: 26px 8px 0 0;
	font-family: oTypographySansBold(s);
	color: oColorsGetPaletteColor(teal-1);
}

.n-storylines__back-btn {
	margin-top: 19px;
	@include oIconsGetIcon('arrow-left', oColorsGetPaletteColor('teal-1'), 32);
}

.n-storylines__scroll {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  position: relative;
  background:  oColorsGetPaletteColor('warm-1');
	width: 100%;
}
