.n-storylines__timeline-container {
  display: flex;
  position: relative;
  width: 100%;
}

.n-storylines__timeline-container:before {
  border-top: 1px solid $border;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 35px;
  left: -30%;
  width: 200%;
  z-index: -1;
}

.n-storylines__back-btn {
	border: none;
	background: none;
}

.parent-level {
	@include oTypographySansBold(s);
	color: $buttonColor;
	display: inline-block;
}

.n-storylines__icon  {
	@include oIconsGetIcon('arrow-left', $buttonColor, 15);
}

.n-storylines__scroll {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  position: relative;
	width: 100%;
	background: inherit;
}
